body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
    width: 340px;
    height: 300px;
    position: relative;
    margin: 25px;
    background-color: cornflowerblue;
}

h1{
    text-align: center;
}